<div class="container-fluid" ng-cloak>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h2>
        <span>Pathways Of Discovery</span>
      </h2>
      <span flex></span>
      <h3>
        <span>{{username}}</span>
      </h3>

      <!--&lt;!&ndash;<md-input-container md-no-float class="md-block">&ndash;&gt;-->
      <!--&lt;!&ndash;<input ng-model="user.address2" placeholder="Search" style="background: white">&ndash;&gt;-->
      <!--&lt;!&ndash;</md-input-container>&ndash;&gt;-->
      <!--<span style="margin-right: 5px; margin-left: 5px"></span>-->
      <!--<md-autocomplete-->
      <!--md-selected-item="ctrl.selectedItem"-->
      <!--md-search-text="ctrl.searchText"-->
      <!--md-items="item in model.topics"-->
      <!--md-item-text="item.name"-->
      <!--md-min-length="0"-->
      <!--placeholder="What Topic are you looking for?">-->

    </div>
  </md-toolbar>
  <div layout="row">
    <div class="col-lg-8 scroller">
      <!--SEARCH-->
      <div layout="row" ng-show="true" style="padding-left: 10px">

        <md-content class="md-padding" layout="column center">
          <md-input-container class="">
            <label>Search</label>
            <input ng-model="model.search"/>

          </md-input-container>

        </md-content>
        <md-content layout="column center">
          <md-button md-no-ink class="md-primary" ng-click="createTopic(model.search)">Don't see it? Create it!
          </md-button>
        </md-content>


        <!--<md-content class="md-padding">-->
        <!--<form ng-submit="$event.preventDefault()">-->
        <!--<md-autocomplete-->
        <!--md-no-cache="ctrl.noCache"-->
        <!--md-selected-item="ctrl.selectedItem"-->
        <!--md-search-text="ctrl.searchText"-->
        <!--md-items="item in querySearch(model.topics)"-->
        <!--md-item-text="item.name"-->
        <!--md-min-length="0"-->
        <!--placeholder="What Topic are you looking for?">-->
        <!--<md-item-template>-->
        <!--<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>-->
        <!--</md-item-template>-->
        <!--<md-not-found>-->
        <!--No Topics matching "{{ctrl.searchText}}" were found.-->
        <!--<a ng-click="createTopic(ctrl.searchText)">Create a new one!</a>-->
        <!--</md-not-found>-->
        <!--</md-autocomplete>-->
        <!--</form>-->
        <!--</md-content>-->
      </div>
      <!--NODE LIST-->
      <div class="row">
        <md-content class="md-padding">
          <md-grid-list
            md-cols="8"
            md-row-height="2:2"
            md-gutter="12px">
            <md-grid-tile class="blue"
                          md-rowspan="2" md-colspan="2" ng-click="getTopicInfo(topic)"
                          ng-repeat="topic in model.topics | filter:model.search">
              <md-grid-tile-header>
                <h2>{{ topic.name }}</h2>
              </md-grid-tile-header>
            </md-grid-tile>
          </md-grid-list>
        </md-content>
      </div>
    </div>


    <!--NODE BIO-->
    <div class="col-lg-4 scroller" style="background: #b7b7b7">
      <!--<div layout="row" ng-show="model.node != undefined">-->
        <!--<md-content class="md-padding">-->
        <!--<h3>{{model.node.name}}</h3>-->


        <!--</md-content>-->

        <md-content class="md-padding">

          <md-grid-list md-cols="5"
                        md-row-height="2:2"
                        md-gutter="10px">
            <!--Topic Name-->
            <!--CHANGE THIS TO REAL STUFF-->
             <md-grid-tile class="white" md-rowspan="1" md-colspan="5">
              <h2> Javascript </h2>
            </md-grid-tile>
            <!--Node Name-->
            <md-grid-tile class="blue" md-rowspan="1" md-colspan="4">
              <h3>{{ model.node.name}}</h3>
            </md-grid-tile>

            <md-grid-tile class="blue" md-rowspan="1" md-colspan="1">
              <!--CHANGE THIS TO RATING-->
              <h3>{{ model.node.id}}</h3>
            </md-grid-tile>

            <!--<md-grid-tile class="blue" md-rowspan="1" md-colspan="2">-->
              <!--&lt;!&ndash;<md-grid-tile-header >&ndash;&gt;-->
                <!--&lt;!&ndash;<h6 layout="center center"> Domain </h6>&ndash;&gt;-->
              <!--&lt;!&ndash;</md-grid-tile-header>&ndash;&gt;-->
              <!--&lt;!&ndash;CHANGE THIS TO DOMAIN&ndash;&gt;-->
              <!--<h3> Domain: {{ model.node.lower}} </h3>-->
            <!--</md-grid-tile>-->

            <md-grid-tile class="white" md-rowspan="1" md-colspan="5">
              <h2> Subtopics</h2>
            </md-grid-tile>

            <md-grid-tile class="green" md-rowspan="1" md-colspan="5" ng-repeat="node in model.topic.nodes">
              <h3 layout="row"> {{node.name}}</h3>
              <h3 layout="row"> {{node.rating}}</h3>
            </md-grid-tile>

          </md-grid-list>
        </md-content>


      <!--</div>-->
    </div>
  </div>
  <div class="row">

  </div>
</div>
