<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h2>
        <span>Pathways Of Discovery</span>
      </h2>
      <span flex></span>
      <h3>
        <span>{{username}}</span>
      </h3>

      <!--&lt;!&ndash;<md-input-container md-no-float class="md-block">&ndash;&gt;-->
      <!--&lt;!&ndash;<input ng-model="user.address2" placeholder="Search" style="background: white">&ndash;&gt;-->
      <!--&lt;!&ndash;</md-input-container>&ndash;&gt;-->
      <!--<span style="margin-right: 5px; margin-left: 5px"></span>-->
      <!--<md-autocomplete-->
      <!--md-selected-item="ctrl.selectedItem"-->
      <!--md-search-text="ctrl.searchText"-->
      <!--md-items="item in model.topics"-->
      <!--md-item-text="item.name"-->
      <!--md-min-length="0"-->
      <!--placeholder="What Topic are you looking for?">-->

    </div>
  </md-toolbar>
<div ng-controller="AppCtrl" layout="" style="" >
<div class="container-fluid" ng-cloak>
  
  <div layout="row">
    <div class="col-lg-8 scroller">
      <!--SEARCH-->
      <div layout="row" ng-show="true" style="padding-left: 10px">

        <md-content class="md-padding" layout="column center">
          <md-input-container class="">
            <label>Search</label>
            <input ng-model="model.search"/>

          </md-input-container>

        </md-content>
        <md-content layout="column center">
          <md-button md-no-ink class="md-primary" ng-click="createTopic(model.search)">Don't see it? Create it!
          </md-button>
        </md-content>


        <!--<md-content class="md-padding">-->
        <!--<form ng-submit="$event.preventDefault()">-->
        <!--<md-autocomplete-->
        <!--md-no-cache="ctrl.noCache"-->
        <!--md-selected-item="ctrl.selectedItem"-->
        <!--md-search-text="ctrl.searchText"-->
        <!--md-items="item in querySearch(model.topics)"-->
        <!--md-item-text="item.name"-->
        <!--md-min-length="0"-->
        <!--placeholder="What Topic are you looking for?">-->
        <!--<md-item-template>-->
        <!--<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>-->
        <!--</md-item-template>-->
        <!--<md-not-found>-->
        <!--No Topics matching "{{ctrl.searchText}}" were found.-->
        <!--<a ng-click="createTopic(ctrl.searchText)">Create a new one!</a>-->
        <!--</md-not-found>-->
        <!--</md-autocomplete>-->
        <!--</form>-->
        <!--</md-content>-->
      </div>
      <!--NODE LIST-->
      <div class="row">
        <md-content class="md-padding">
          <md-grid-list
            md-cols="8"
            md-row-height="2:2"
            md-gutter="12px">
            <md-button class="blue"
                          md-rowspan="2" md-colspan="2" ng-click="toggleRight()"
                          ng-repeat="topic in model.topics | filter:model.search">
                <div>
                  <md-button ng-click=""
                    class="md-primary" hide-gt-md>
                    <h2>{{ topic.name }}</h2>
                  </md-button>
                </div>
                

          </md-grid-list>
        </md-content>
      </div>
    </div>


    
  </div>
  <div class="row">

  </div>
</div>

  <section layout="row" flex>
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>
    </md-sidenav>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput"
                   ng-model="data" md-autofocus>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav>
  </section>
</div>
