<style>

  .node {
    cursor: pointer;
  }

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node text {
    font: 12px sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }

</style>

<div class="container-fluid">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">Pathways To Discovery</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a>
          <input class="container form-control" placeholder="Search" ng-model="query"/>
        </a></li>
      </ul>
    </div>
  </nav>
  <div style="margin-top: 5%" class="row">
    <div class="col-lg-8">
      <md-list flex>
        <md-list-item class="md-3-line col-lg-4" ng-repeat="topic in model.topics | filter:query"
                      ng-click="null">
          <div class="md-list-item-text" layout="column" > {{topic.name }}</div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>


    </div>


    <div class="col-lg-4">

    </div>
  </div>
  <!--GRAPH LAYER-->
  <div class="row">
    <div class="col-lg-8" style="border: 1px; color: black">

    </div>
    <div class="col-lg-4">

    </div>
  </div>
</div>

